@media screen and (max-width: 575px){


    .header{
        width: 100%;
        height: 80px;
    }
    .baker{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat
    }




    .gallery{
        width: 100%;
        height: 1400px;
    }
    .container-gallery{
        min-width: 100%;
    }
    .gallery-tekst{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .gallery-tekst h2{
        font-size: 2rem;
        margin: auto;
        width: 400px;
        
    }
    .gallery-tekst p{
        font-size: 19px;  
        margin: auto;
        width: 400px;
    }
    .gallery-photo{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
      
    }
    .gallery-cake-left img{
        width: 400px;
        padding: 0;
        margin: 0;
    }
    .gallery-cake-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tekst-right p{
        font-size: 19px;
        margin-top: -90px;
        width: 400px;
    }
    .photo-right img{
        width: 400px;
        height: 326.5px;
        margin-top: 40px;
    }

    .meni{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        height: 2061px;
    }
    .meni-itema img{
        width: 100%;
        height: 687px;
    }
    .meni-itemb{
        width: 100%;
        height: 687px;
    }
    .meni-itemc img{
        width: 100%;
        height: 687px;
    }


    .empty{
        height: 60px;
        width: 100%;
    }
 
    .coffe{
        height: 679px;
        width: 100%;
    }
    .coffe-tekst{
        width: 100%;
        text-align: center;
    }
    .coffe-info{
        width: 100%;
    }
    .coffe-info p{
        margin:0;
    }


    .prazan{
        width: 100%;
    }



    .tekst{
        height: auto;
        background-color:#dfcbab; 
        width: 100%;
    }
    .text-container{
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .left-slika{
        height: 500px;
        width: 100%;
    }
    .left-slika img{
        width: 345px;
        margin: 0;
    }
    .left-p {
        justify-content: flex-start;
        width: 345px;
        margin: auto;
    
    }
    .right-p {
        justify-content: flex-start;
        width: 345px;
        margin: auto;
    
    }
    .right-square{
        margin: auto;
    }
    .right-slika img{
        width: 345px;
        margin: auto;
        padding: 0;

    }



    .contact{
        height: 2061px;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .p1{
        font-size: 19px;
    }
    .p1{
        font-size: 20px;
    }
    .contact-left img{
        height: 687px;
    }
    .contact-middle{
        height: 687px;
    }
    .contact-right img{
        height: 687px;
    }


    .footer{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 415px){
    .header{
        width: 100%;
    }


    .baker{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat
    }
    .baker img{
        margin-left: 110px;
    }
    .baker h1{
        font-size: 86px;
    }



    .gallery{
        width: 100%;
    }
    .container-gallery{
        min-width: 100%;
    }
    .gallery-tekst{
        width: 100%;
    }
    .gallery-tekst h2{
        font-size: 1.9rem;
        width: 350px;
        
    }
    .gallery-tekst p{
        font-size: 19px;  
        width: 350px;
    }
    .gallery-cake-left img{
        width: 350px;
        margin-top: 15px;
    }
    .tekst-right p{
        font-size: 19px;
        margin-top: -90px;
        width: 350px;
    }
    .photo-right img{
        width: 350px;
        height: 326.5px;
        margin-top: 40px;
    }


    .meni{
        width: 100%;
    }
    .meni-itema img{
        width: 100%;
    }
    .meni-itemb{
        width: 100%;
    }
    .meni-itemc img{
        width: 100%;
    }



    .empty{
        width: 100%;
    }
 
    .coffe{
        width: 100%;
    }
    .coffe-tekst{
        width: 100%;
    }
    .coffe-info{
        width: 100%;
    }

    .prazan{
        width: 100%;
    }
    .tekst{
        width: 100%;
    }
    .text-container{
        width: 100%;
    }
    .left-slika{
        width: 100%;
    }
    .contact{
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}




